body {
    font-family: 'Poppins';
    background-color: #DBE2EF;
}

.jumbotron {
    padding-top: 2rem;
}

#about {
    background-color: #F9F7F7;   /* sama dengan wave */
}

svg {
    display: block;
}

#contact {
    background-color: #F9F7F7;
}

.card {
    transition: transform .3s ease, box-shadow 0.3s ease;
    -webkit-transition: transform .3s ease, box-shadow 0.3s ease;
    -moz-transition: transform .3s ease, box-shadow 0.3s ease;
    -ms-transition: transform .3s ease, box-shadow 0.3s ease;
    -o-transition: transform .3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba (0, 0, 0, 0.2);
}

#cta {
    background-color: #F9F7F7;
}

