body {
    font-family: 'Poppins';
    background-color: #DBE2EF;
}

.jumbotron {
    padding-top: 2rem;
}

#about {
    background-color: #F9F7F7;   /* sama dengan wave */
}

svg {
    display: block;
}

#contact {
    background-color: #F9F7F7;
}